[Unit]
Description=Visametric bot + admin
Requires=visametric-bot.service visametric-admin.service
After=visametric-bot.service visametric-admin.service

[Install]
WantedBy=multi-user.target
