[Unit]
Description=Visametric SQLAdmin panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/petro2561/Visametric
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/home/petro2561/Visametric/.env
ExecStart=/home/petro2561/Visametric/.venv/bin/python -m admin
Restart=always
RestartSec=5
TimeoutStopSec=20

StandardOutput=journal
StandardError=journal
SyslogIdentifier=visametric-admin

[Install]
WantedBy=multi-user.target
